@keyframes myAnimationKeyFrame {
	from {background-color: red;}
	to {background-color: yellow;}
}
myAnimation {
	width: 100px;
	height: 100px;
	background-color: red;
	animation-name: myAnimationKeyFrame;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}
