@keyframes redToYellow {
	from {background-color: red;}
	to {background-color: yellow;}
}

#animated {
	width: 100px;
	height: 100px;
	background-color: red;
	animation-name: redToYellow;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}
